.section_wrap.section_wrap_cta_wrap {
    background: linear-gradient(180deg, #101219 0%, #0d1017 18%, #090c12 52%, #0a0b12 100%);
}

.section_layout.section_layout_cta_wrap {
    padding: 0;
    margin-bottom: 0;
}